<%- include('../partials/header.ejs') %>

<h2>Categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Add a new category</a>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(function(cate) { %>
        <tr>
            <td> <%= cate.name %> </td>
            <td> <a href="/admin/categories/edit-category/<%= cate._id %>"> Edit </a> </td>
            <td>
                <form id='formComButt' action = '/admin/categories/delete-category/<%= cate._id %>?_method=DELETE' method = "POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>