<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="css/HomeStyle.css">
<div class='containar-fluid top'>
    <div class="row mt-4">
        <div class=' col-sm-2 category d-inline-block float-start'>
            <div class="list-cate">
                <a class="nav-link" href="#">เสื้อผ้าผู้ชาย</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">เสื้อผ้าผู้หญิง</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">มือถือและอุปกรณ์เสริม</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">อาหารเสริมและผลิตภัณฑ์สุขภาพ</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">นาฬิกาและแว่นตา</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">รองเท้า</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">กล้องและอุปกรณ์ถ่ายภาพ</a> 
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">เกมและฮ๊อบบี้</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">ของเล่น แม่และเด็ก</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">กระเป๋า</a>
            </div>
        </div>
        <div class=' col-sm-10 baner d-inline-block '>
            <p class='baner-pic float-start'>111</p>
        </div>
    </div>
</div>
<div class="row promotion containar-fluid mt-4">
    <div class="row col-sm-12 pic">
        <p></p>
    </div>
</div>
<div class="row item album mt-4">
    <div class="containar">
        <div class="row row-cols-1 mb-2 rows-sm-2 g-3">
            <div class="col-sm-3">
                <div class="card ">
                    <img src="xxxxxx" class='item-pic card-img-top'>
                    <h5 class="card-title">xxxxxxxxx</h5>
                    <div class="card-body">
                        <p class="cart-text">Kittinan Samakpong from Thailand</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img src="xxxxxx" class='item-pic card-img-top'>
                    <h5 class="card-title">xxxxxxxxx</h5>
                    <div class="card-body">
                        <p class="cart-text">Kittinan Samakpong from Thailand</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img src="xxxxxx" class='item-pic card-img-top'>
                    <h5 class="card-title">xxxxxxxxx</h5>
                    <div class="card-body">
                        <p class="cart-text">Kittinan Samakpong from Thailand</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img src="xxxxxx" class='item-pic card-img-top'>
                    <h5 class="card-title">xxxxxxxxx</h5>
                    <div class="card-body">
                        <p class="cart-text">Kittinan Samakpong from Thailand</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 rows-sm-2 g-3">
            <div class="col-sm-3">
                <div class="card ">
                    <img src="xxxxxx" class='item-pic card-img-top'>
                    <h5 class="card-title">xxxxxxxxx</h5>
                    <div class="card-body">
                        <p class="cart-text">Kittinan Samakpong from Thailand</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img src="xxxxxx" class='item-pic card-img-top'>
                    <h5 class="card-title">xxxxxxxxx</h5>
                    <div class="card-body">
                        <p class="cart-text">Kittinan Samakpong from Thailand</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img src="xxxxxx" class='item-pic card-img-top'>
                    <h5 class="card-title">xxxxxxxxx</h5>
                    <div class="card-body">
                        <p class="cart-text">Kittinan Samakpong from Thailand</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ">
                    <img src="xxxxxx" class='item-pic card-img-top'>
                    <h5 class="card-title">xxxxxxxxx</h5>
                    <div class="card-body">
                        <p class="cart-text">Kittinan Samakpong from Thailand</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('partials/footer.ejs') %>