/*----------------------Header--------------------------*/
/* Body*/
body {
    margin-left: 5%;
    margin-right: 5%;
    
}
.row {
    margin-left: 0;
}
.row>*{
    padding-left: 0;
}
.navbar {
    padding-left: .5em;
}
nav {
    background-color:aquamarine;
    height: 80px;
}
/* Dropdown*/
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 1752px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

/*Seller*/
#bar-seller {
    text-align: end;
    height: 2em;
    padding-right: 1em;
   
}
#bar-seller {
    background-color:aquamarine ;

}
.seller {
    font-size: 14px;
    text-decoration: none;
    color: black;
}


/* layout search*/


.d-flex {
    padding-left: 8em;
}

/* cart */
.bi-cart {
    margin-left: 5em;
}

/* button sign up, log in */
.navbar-nav {
    margin-left: 7em;
    margin-right: 1em;
} 
.nav-item {
    margin-left: 1.5em;
}

#signButton , #logButton {
    border-radius: 25px;
    width: 4.5em;
    text-align: center;
}

