/*----------------------HOME--------------------------*/
/* Top */
.top {
    padding-left: 0%;
    padding-right: 0%;
}

/* Top -- category*/
.category{
    background-color: aqua;
    border:1px solid black;
}
.list-cate {
    height: 2.5em;
    margin-top: 5px;
}

/* Top -- baner */
 .baner {
    background-color: aquamarine;
}

/* Midle */

/* Midle -- Promotion */

.promotion .pic {
    background-color: gold;
    height: 150px;
}


/*low*/
/*low -- item*/
@media screen and (max-width:1752px){
    .card-title {
        margin-top: 10px;
    }
}

.contanar {
   /* background-color: hotpink;*/
  
}
.card-title {
    margin-left: 15px;
}
 .item {
   /* margin-right: 0;*/
   /* padding-right: 0;*/
}

.item-pic {
    background-color: sandybrown;
    height: 250px;
    width:auto ;
    display: block;
    margin: auto;
}