/*----------------------Header--------------------------*/
/* Body*/
body {
    margin-left: 5%;
    margin-right: 5%;
    
}
.row {
    margin-left: 0;
}
.row>*{
    padding-left: 0;
}
.navbar {
    padding-left: .5em;
}
nav {
    background-color:rgb(96, 189, 108);
    height: 90px;
}

/*Seller*/
#bar-seller {
    text-align: end;
    height: 2em;
    padding-right: 1em;
   
}
#bar-seller {
    background-color:rgb(96, 189, 108) ;

}
.seller {
    font-size: 14px;
    text-decoration: none;
    color: black;
}


/* layout search*/


.d-flex {
    padding-left: 8em;
}

/* cart */
.bi-cart {
    margin-left: 5em;
}

/* button sign up, log in */
.navbar-nav {
    margin-left: 7em;
} 
.nav-item {
    margin-left: 1.5em;
}

#signButton , #logButton {
    border:1px solid bisque;
    border-radius: 25px;
    width: 4.5em;
    text-align: center;
}

