body {
    /* background-color: cadetblue; */
}
/* Item */
.col .item-butt {
    display: flex;
    flex-direction: row;
}

.item-butt .btn-danger {
    margin-left:5px ;
}

/* Comment */


#comment {
    margin-top: 20px;
}
.comment-layout .comment-text {
}

.comment-layout {
    display: flex;
    flex-direction: row;
}

.comment-layout .comment-butt{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.comment-butt .btn-danger {
    margin-left: 5px;
}

.comment-layout{
    margin-top: 20px;
}