body {
    /* background-color: cadetblue; */
}
/* Item */
/* Item == pic */
@media screen and (max-width:1752px){
    #picItem{
        display: block;
        margin: auto;
    }
}

.item{
    margin-top: 10px;
}
.pic-item {
    margin-top: 5px;
}


.col .item-butt {
    display: flex;
    flex-direction: row;
}

.item-butt .btn-danger {
    margin-left:5px ;
}

/* Comment */


#comment {
    margin-top: 20px;
}
.comment-layout .comment-text {
}

.comment-layout {
    display: flex;
    flex-direction: row;
}

.comment-layout .comment-butt{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.comment-butt .btn-danger {
    margin-left: 5px;
}

.comment-layout{
    margin-top: 20px;
}