<%- include('../partials/header.ejs') %>
<link rel='stylesheet' href='css/CategoryStyle.css'>
<div class='row categoryBaner container-fluid mt-4 g-0'>
    <div class="row col-sm-12 pic">

    </div>
</div>

<div class="row body mt-4">
    <div class="container">
        <div class="row row-cols-1 mb-2 rows-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-sm-3">
                <div class="card">
                    
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs') %>